/*----------Begin div styling----------*/
div.main {
  height: 100vh;
  position: relative;
}

div.home {
  height: 100vh;
  padding: 2rem 2rem;
  position: relative;
  background-image: url("/blackoceanbackground.png"); 
  background-attachment: relative;
  background-repeat: no-repeat;
}

div.homeElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: right;
  width: 40%;
  background-color: transparent;
}

div.about {
  height: 100vh;
  padding: 2rem 2rem;
  position: relative;
  background: #E8E8E8;
}

div.aboutElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 40%;
  background-color: transparent;
  margin: 10% 0px 0px 10%;
  padding: relative;
}

div.projects {
  height: 100vh;
  padding: 2rem 2rem;
  position: relative;
  background: #1A1A1A;
}

div.projectsElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 40%;
  background-color: transparent;
  margin: 10% 0px 0px 10%;
  padding: relative;
}
/*----------End div styling----------*/
/*----------Begin element styling----------*/
.navbar {
  position: relative;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  font-size: 25px;
}

li {
float: left;
padding: 20px;
display: block;
}

li a:hover {
 text-decoration: underline;
}
/*----------Light colored text elements----------*/
.titleA {
  line-height: 1;
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
}

.titleA,
.descriptionA {
  margin: 2rem 0px 0px 0px;
  text-align: left;
  color: white;
}

.descriptionA {
  width: 70%;
  font-size: 1.50rem;
  font-family: 'Inconsolata', monospace;
}
/*----------Dark colored text elements----------*/
.titleB {
  line-height: 1;
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
}

.titleB,
.descriptionB {
  margin: 2rem 0px 0px 0px;
  text-align: left;
  color: #1a1a1a;
}

.descriptionB {
  width: 70%;
  font-size: 1.50rem;
  font-family: 'Inconsolata', monospace;
}
/*----------End element styling----------*/
/*----------Begin button styling----------*/
.btnA {
  width: 33%;
  margin: 2rem 0px 0px 0px;
  padding: 8px 16px;
  border-radius: 10px;
  border-width: 3px;
  background-color: transparent;
  border: solid;
  border-color: #E8E8E8;
  color: #E8E8E8;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnA:hover {
  color: #1a1a1a;
  background-color: #E8E8E8;
}

.btnB {
  width: 33%;
  margin: 2rem 0px 0px 0px;
  padding: 8px 16px;
  border-radius: 10px;
  border-width: 3px;
  background-color: transparent;
  border: solid;
  border-color: #1a1a1a;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnB:hover {
  color: #E8E8E8;
  background-color: #1a1a1a;
}
/*----------End button styling----------*/
/*----------Begin media queries----------*/
@media only screen and (max-width:800px) {
  .title {
   color:red;
  }
/*----------End media queries----------*/
}