.containerMain {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.mainWrapper {
  color:black;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 20px;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 25px;
}

li {
float: left;
padding: 10px;
}

li a {
  display: block;
  padding: 20px;
}

.title a {
  color: white;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: white;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.linkDescription {
  color:white; 
}

/*@media only screen and (max-width:800px) {
  .title {
   color:red;
  }
}*/