.containerMain {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.mainWrapper {
  color:black;
  padding: 5rem 0;
  margin-left: 21rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.navbar {
  padding: 5px;
  font-family: 'Bebas Neue', cursive;
  background-color: black;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 25px;
}

li {
float: left;
padding: 20px;
display: block;
}

li a:hover {
 text-decoration: underline;
}

.title a {
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue', regular;
  text-align: right;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  text-align: right;
}

.title,
.description {
  text-align: center;
  color: white;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.linkDescription {
  color:white; 
}

/*@media only screen and (max-width:800px) {
  .title {
   color:red;
  }
}*/