/*----------Begin div styling----------*/
div.main {
  height: 100vh;
  position: relative;
}

div.home {
  height: 100vh;
  padding: 2rem 2rem;
  position: relative;
  background-image: url("/blackoceanbackground.png"); 
  background-attachment: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

div.homeElements {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: right;
  width: 40%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0%;
  transform:translate(0%, -50%);
}

div.about {
  height: 100vh;
  padding: 2rem 2rem;
  position: relative;
  background: #E8E8E8;
}

div.aboutElements {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 40%;
  background-color: transparent;
  padding: relative;
  position: absolute;
  top: 50%;
  left: 10%;
  transform:translate(0%, -50%);
}

div.projects {
  height: 100vh;
  position: relative;
  background: #1A1A1A;
}

div.projectsElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: right;
  width: 27%;
  background-color: transparent;
  padding: relative;
  position: absolute;
  top: 50%;
  left: 70%;
  transform:translate(0%, -50%);
}

div.contact {
  height: 100vh;
  position: relative;
  background: #E8E8E8;
}

div.contactElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 40%;
  background-color: transparent;
  padding: relative;
  position: absolute;
  top: 50%;
  left: 10%;
  transform:translate(0%, -50%);
}

div.contactForm {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: 50%;
  right: 12%;
  transform:translate(0%, -50%);
}

div.footer {
  height: 50vh;
  position: relative;
  background: #1a1a1a;
}

div.footerElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 40%;
  background-color: transparent;
  padding: relative;
  position: absolute;
  top: 40%;
  left: 10%;
  transform:translate(0%, -40%);
}

div.aboutDynamic {
  height: 100vh;
  position: relative;
  background: #1a1a1a;
}

div.aboutDynamicElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 40%;
  background-color: transparent;
  padding: relative;
  position: absolute;
  top: 50%;
  left: 10%;
  transform:translate(0%, -50%);
}

div.aboutDynamicElements2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: right;
  width: 40%;
  background-color: transparent;
  padding: relative;
  position: absolute;
  top: 50%;
  left: 64%;
  transform:translate(0%, -50%);
}

/*----------End div styling----------*/
/*----------Begin element styling----------*/
.navbar {
  position: relative;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  font-size: 25px;
}

li {
float: left;
padding: 20px;
display: block;
}

li a:hover {
 text-decoration: underline;
}

.thumbnail {
  position: relative;
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.thumbnailImage {
  display: block;
  width: 100%;
  height: 110vh;
}

.thumbnailOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1A1A1A;
}

.thumbnail:hover .thumbnailOverlay {
  opacity: 0.90;
}

.thumbnailText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family:  'Bebas Neue', cursive;
  font-size: 4rem;
}

.headshot {
  height: 50rem;
  width: 50rem;
  float: right;
  position: relative;
  top: 50%;
  right: 10%;
  transform:translate(0%, -50%);
  background-color: transparent;
}

.socialMedia {
  display: flex;
  justify-content: flex-start;
  padding: 5% 0% 0% 0%;
}

.socialMediaIcons {
  padding: 0% 5% 0% 0%;
  height: 8rem;
  width: 8rem;
}

.footerImage {
  height: 50%;
  width: 50%;
}

.socialMediaIconsFooter {
  display: inline-block;
  margin: 0 30px 0 0;
  height: 50px;
  width: 50px;
}

.aboutImage {
  position: relative;
  top: 50%;
  left: 44%;
  transform:translate(0%, -50%);
}

/*----------Light colored text elements----------*/
.titleA {
  line-height: 1;
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
}

.titleA,
.descriptionA {
  margin: 2rem 0px 0px 0px;
  text-align: left;
  color: white;
}

.descriptionA {
  width: 70%;
  font-size: 1.50rem;
  font-family: 'Inconsolata', monospace;
}
/*----------Dark colored text elements----------*/
.titleB {
  line-height: 1;
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
}

.titleB,
.descriptionB {
  margin: 2rem 0px 0px 0px;
  text-align: left;
  color: #1a1a1a;
}

.descriptionB {
  width: 70%;
  font-size: 1.50rem;
  font-family: 'Inconsolata', monospace;
}
/*----------End element styling----------*/
/*----------Begin button styling----------*/
.btnA {
  width: 20%;
  margin: 2rem 0px 0px 0px;
  padding: 8px 16px;
  border-radius: 10px;
  border-width: 3px;
  background-color: transparent;
  border: solid;
  border-color: #E8E8E8;
  color: #E8E8E8;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnA:hover {
  color: #1a1a1a;
  background-color: #E8E8E8;
}

.btnB {
  width: 25%;
  margin: 2rem 0px 0px 0px;
  padding: 8px 16px;
  border-radius: 10px;
  border-width: 3px;
  background-color: transparent;
  border: solid;
  border-color: #1a1a1a;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnB:hover {
  color: #E8E8E8;
  background-color: #1a1a1a;
}
/*----------End button styling----------*/
/*----------Begin input styling----------*/
input[type=text], textarea {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  width: 100%;
  padding: 12px;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  height: 20vh;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

/*----------Begin media queries----------*/
/*----------iPhone 6/7/8 Plus------------*/
@media only screen and (max-width:414) {
  .title {
    color: red;
  }
}
/*----------End media queries----------*/